{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center" style="margin-top: 100px">Be a poser v3.0.0</h1>

    <div class="text-center">
        <a href="https://packagist.org/packages/pugx/badge-poser"><img src="https://poser.pugx.org/pugx/badge-poser/version"></a>

        <a href="https://packagist.org/packages/pugx/badge-poser"><img src="https://poser.pugx.org/pugx/badge-poser/license"></a>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}