language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - hhvm

services:
  - redis-server

matrix:
  allow_failures:
    - php: hhvm

before_script:
    - COMPOSER_ROOT_VERSION=dev-master composer --prefer-source --dev --no-interaction install

script:
  - bin/phpunit
  
notifications:
  email:
    - liuggio@gmail.com
