parameters:
    level: 8
    paths:
        - src/
        - tests/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    symfony:
        container_xml_path: var/cache/test/srcApp_KernelTestDebugContainer.xml
        constant_hassers: false
    bootstrapFiles:
        - bin/.phpunit/phpunit/vendor/autoload.php
includes:
    - phpstan-baseline.neon
