parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$className of method PHPUnit\\\\Framework\\\\TestCase\\:\\:getMockBuilder\\(\\) expects class\\-string\\<mixed\\>, string given\\.$#"
			count: 1
			path: tests/Badge/Model/UseCase/CreateCircleCiBadgeTest.php

		-
			message: "#^Unable to resolve the template type T in call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:getMockBuilder\\(\\)$#"
			count: 1
			path: tests/Badge/Model/UseCase/CreateCircleCiBadgeTest.php

		-
			message: "#^Parameter \\#1 \\$className of method PHPUnit\\\\Framework\\\\TestCase\\:\\:getMockBuilder\\(\\) expects class\\-string\\<mixed\\>, string given\\.$#"
			count: 1
			path: tests/Badge/Model/UseCase/CreateComposerLockBadgeTest.php

		-
			message: "#^Unable to resolve the template type T in call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:getMockBuilder\\(\\)$#"
			count: 1
			path: tests/Badge/Model/UseCase/CreateComposerLockBadgeTest.php
