parameters:
    level: 8
    paths:
        - src/
        - tests/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        constantHassers: false
    scanDirectories:
        - var/cache/dev/Symfony/Config
includes:
    - phpstan-baseline.neon
