parameters:
    level: 8
    paths:
        - src/
        - tests/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    symfony:
        container_xml_path: var/cache/test/App_KernelTestDebugContainer.xml
        constant_hassers: false
includes:
    - phpstan-baseline.neon
