<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="bin/.phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
        <!-- define your env variables for the test env here -->

        <!-- ###+ snc/redis-bundle ### -->
        <!-- passwords that contain special characters (@, %, :, +) must be urlencoded -->
        <env name="REDIS_URL" value="redis://redis"/>
        <!-- ###- snc/redis-bundle ### -->

        <!-- ###+ knplabs/github-api ### -->
        <env name="GITHUB_AUTH_METHOD" value="access_token_header"/>
        <env name="GITHUB_USERNAME" value=""/>
        <env name="GITHUB_SECRET" value=""/>
        <!-- ###- knplabs/github-api ### -->

        <!-- ###+ sentry/sentry-symfony ### -->
        <env name="SENTRY_DSN" value=""/>
        <!-- ###- sentry/sentry-symfony ### -->

        <env name="CIRCLE_CI_TOKEN" value=""/>

        <env name="BITBUCKET_AUTH_METHOD" value="http_password"/>
        <env name="BITBUCKET_TOKEN" value=""/>
        <env name="BITBUCKET_SECRET" value=""/>
    </php>

    <testsuites>
        <testsuite name="BadgePoser Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <!-- see https://www.tomasvotruba.cz/blog/2019/03/28/how-to-mock-final-classes-in-phpunit/ -->
    <extensions>
        <extension class="App\Tests\Hook\BypassFinalHook"/>
    </extensions>
</phpunit>
