parameters:
    session_name:      PHPSESSID2
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretButEnoughToGetABronzeMedal
    redis_hostname:    localhost
    redis_database_default: 0
    redis_database_cache: 1
# disabled for travis export variable
#    buckler_bin_path: '/usr/local/bin/buckler'