version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.3-fpm-stretch-node-browsers
        environment:
          - APP_ENV=test
          - APP_SECRET=notReallyNeededHere
          - REDIS_URL=redis://localhost
          - SYMFONY_DEPRECATIONS_HELPER='max[self]=0'
      - image: redis

    working_directory: ~/app
    steps:
      - checkout
      
      - run: 
          name: install system packages
          command: sudo apt-get install -qqy libzip-dev libpng-dev libjpeg-dev libfreetype6-dev

      - run:
          name: configure php packages
          command: sudo docker-php-ext-configure gd --with-freetype-dir=/usr/include/ --with-jpeg-dir=/usr/include/

      - run: 
          name: install php packages
          command: sudo docker-php-ext-install zip iconv gd

      - run:
          name: install prestissimo
          command: composer global require hirak/prestissimo

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: 
          name: install project dependencies
          command: composer install -n --no-progress --no-suggest
      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.json" }}

      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Node Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run:
          name: build frontend
          command: yarn build

      - run:
          name: checks that the YAML config files contain no syntax errors
          command: ./bin/console lint:yaml config

      - run:
          name: checks that the Twig template files contain no syntax errors
          command: ./bin/console lint:twig templates

      - run: 
          name: run phpunit tests
          command: bin/phpunit -d memory_limit=-1 --coverage-html coverage
      - store_artifacts:
          path: coverage

      - run:
          name: run php-cs-fixer checks
          command: vendor/bin/php-cs-fixer fix --verbose --diff --dry-run

      - run:
          name: run phpstan checks
          command: vendor/bin/phpstan analyse
