{# created 2016-04-02 #}
{# do not modify it, this is a read-only file created by bin/extract_contributor.py #}

<li class="span2">
    <a href="https://github.com/liuggio"  title="liuggio contributions">liuggio</a>
    <a href="https://github.com/liuggio"  title="liuggio contributions"><img src="https://avatars.githubusercontent.com/u/530406?v=3" alt="liuggio's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/leopro"  title="leopro contributions">leopro</a>
    <a href="https://github.com/leopro"  title="leopro contributions"><img src="https://avatars.githubusercontent.com/u/1370900?v=3" alt="leopro's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/agiuliano"  title="agiuliano contributions">agiuliano</a>
    <a href="https://github.com/agiuliano"  title="agiuliano contributions"><img src="https://avatars.githubusercontent.com/u/1260243?v=3" alt="agiuliano's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/giorrrgio"  title="giorrrgio contributions">giorrrgio</a>
    <a href="https://github.com/giorrrgio"  title="giorrrgio contributions"><img src="https://avatars.githubusercontent.com/u/482501?v=3" alt="giorrrgio's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/toretto460"  title="toretto460 contributions">toretto460</a>
    <a href="https://github.com/toretto460"  title="toretto460 contributions"><img src="https://avatars.githubusercontent.com/u/1193857?v=3" alt="toretto460's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/eux"  title="eux contributions">eux</a>
    <a href="https://github.com/eux"  title="eux contributions"><img src="https://avatars.githubusercontent.com/u/1127786?v=3" alt="eux's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/hpatoio"  title="hpatoio contributions">hpatoio</a>
    <a href="https://github.com/hpatoio"  title="hpatoio contributions"><img src="https://avatars.githubusercontent.com/u/249948?v=3" alt="hpatoio's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/matteosister"  title="matteosister contributions">matteosister</a>
    <a href="https://github.com/matteosister"  title="matteosister contributions"><img src="https://avatars.githubusercontent.com/u/212723?v=3" alt="matteosister's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/garak"  title="garak contributions">garak</a>
    <a href="https://github.com/garak"  title="garak contributions"><img src="https://avatars.githubusercontent.com/u/179866?v=3" alt="garak's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/stof"  title="stof contributions">stof</a>
    <a href="https://github.com/stof"  title="stof contributions"><img src="https://avatars.githubusercontent.com/u/439401?v=3" alt="stof's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/dlondero"  title="dlondero contributions">dlondero</a>
    <a href="https://github.com/dlondero"  title="dlondero contributions"><img src="https://avatars.githubusercontent.com/u/209782?v=3" alt="dlondero's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/rogeriopradoj"  title="rogeriopradoj contributions">rogeriopradoj</a>
    <a href="https://github.com/rogeriopradoj"  title="rogeriopradoj contributions"><img src="https://avatars.githubusercontent.com/u/443391?v=3" alt="rogeriopradoj's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/carlo1138"  title="carlo1138 contributions">carlo1138</a>
    <a href="https://github.com/carlo1138"  title="carlo1138 contributions"><img src="https://avatars.githubusercontent.com/u/15265?v=3" alt="carlo1138's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/tedivm"  title="tedivm contributions">tedivm</a>
    <a href="https://github.com/tedivm"  title="tedivm contributions"><img src="https://avatars.githubusercontent.com/u/121709?v=3" alt="tedivm's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/claudio-dalicandro"  title="claudio-dalicandro contributions">claudio-dalicandro</a>
    <a href="https://github.com/claudio-dalicandro"  title="claudio-dalicandro contributions"><img src="https://avatars.githubusercontent.com/u/2378579?v=3" alt="claudio-dalicandro's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/pborreli"  title="pborreli contributions">pborreli</a>
    <a href="https://github.com/pborreli"  title="pborreli contributions"><img src="https://avatars.githubusercontent.com/u/77759?v=3" alt="pborreli's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/neoascetic"  title="neoascetic contributions">neoascetic</a>
    <a href="https://github.com/neoascetic"  title="neoascetic contributions"><img src="https://avatars.githubusercontent.com/u/725836?v=3" alt="neoascetic's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/taiyaeix"  title="taiyaeix contributions">taiyaeix</a>
    <a href="https://github.com/taiyaeix"  title="taiyaeix contributions"><img src="https://avatars.githubusercontent.com/u/3488360?v=3" alt="taiyaeix's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/Takeno"  title="Takeno contributions">Takeno</a>
    <a href="https://github.com/Takeno"  title="Takeno contributions"><img src="https://avatars.githubusercontent.com/u/1499063?v=3" alt="Takeno's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/Nyholm"  title="Nyholm contributions">Nyholm</a>
    <a href="https://github.com/Nyholm"  title="Nyholm contributions"><img src="https://avatars.githubusercontent.com/u/1275206?v=3" alt="Nyholm's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/cirpo"  title="cirpo contributions">cirpo</a>
    <a href="https://github.com/cirpo"  title="cirpo contributions"><img src="https://avatars.githubusercontent.com/u/51252?v=3" alt="cirpo's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/cornernote"  title="cornernote contributions">cornernote</a>
    <a href="https://github.com/cornernote"  title="cornernote contributions"><img src="https://avatars.githubusercontent.com/u/51875?v=3" alt="cornernote's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/jmleroux"  title="jmleroux contributions">jmleroux</a>
    <a href="https://github.com/jmleroux"  title="jmleroux contributions"><img src="https://avatars.githubusercontent.com/u/1516770?v=3" alt="jmleroux's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/fefas"  title="fefas contributions">fefas</a>
    <a href="https://github.com/fefas"  title="fefas contributions"><img src="https://avatars.githubusercontent.com/u/6557756?v=3" alt="fefas's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/Haehnchen"  title="Haehnchen contributions">Haehnchen</a>
    <a href="https://github.com/Haehnchen"  title="Haehnchen contributions"><img src="https://avatars.githubusercontent.com/u/1011712?v=3" alt="Haehnchen's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/Jean85"  title="Jean85 contributions">Jean85</a>
    <a href="https://github.com/Jean85"  title="Jean85 contributions"><img src="https://avatars.githubusercontent.com/u/6729988?v=3" alt="Jean85's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/maximkott"  title="maximkott contributions">maximkott</a>
    <a href="https://github.com/maximkott"  title="maximkott contributions"><img src="https://avatars.githubusercontent.com/u/2686062?v=3" alt="maximkott's avatar"></a>
</li>

<li class="span2">
    <a href="https://github.com/PeterDaveHello"  title="PeterDaveHello contributions">PeterDaveHello</a>
    <a href="https://github.com/PeterDaveHello"  title="PeterDaveHello contributions"><img src="https://avatars.githubusercontent.com/u/3691490?v=3" alt="PeterDaveHello's avatar"></a>
</li>

