<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Badge Poser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Flat and Clean.">
    <meta name="author" content="Jenil Gogari">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
</head>

<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">


<div id="container" class="container-narrow">

    <div class="jumbotron">
        <h1>Badge Poser</h1>
        <p class="lead">Pimp your README!</p>
        <p class="lead">
            <a target="_blank" href="http://travis-ci.org/PUGX/badge-poser"><img src="https://secure.travis-ci.org/PUGX/badge-poser.png" /></a>
        </p>
    </div>

    <div class="row-fluid bundles">
        <div class="span12">
            <article>
                <h3>Be a poser</h3>
                <p>
                    Use shields for you packagist.org repository, that shows how many times your project has been downloaded from Packagist.org or its latest stable version.
                </p>
                <h3>How to use Badge Poser</h3>
                <p>put the following snippets in your README:</p>
                <p>
                    Total downloads <img src="https://poser.pugx.org/symfony/symfony/d/total.png">
                    <pre class="prettyprint">[![Total Downloads](https://poser.pugx.org/symfony/symfony/d/total.png)](https://packagist.org/packages/symfony/symfony)</pre>
                </p>
                <p>
                    Monthly downloads <img src="https://poser.pugx.org/symfony/symfony/d/monthly.png">
                    <pre class="prettyprint">[![Monthly Downloads](https://poser.pugx.org/symfony/symfony/d/monthly.png)](https://packagist.org/packages/symfony/symfony)</pre>
                </p>
                <p>
                    Daily downloads <img src="https://poser.pugx.org/symfony/symfony/d/daily.png">
                    <pre class="prettyprint">[![Daily Downloads](https://poser.pugx.org/symfony/symfony/d/daily.png)](https://packagist.org/packages/symfony/symfony)</pre>
                </p>
                <p>
                    Latest Stable Version <img src="https://poser.pugx.org/symfony/symfony/version.png">
                    <pre class="prettyprint">[![Latest Stable Version](https://poser.pugx.org/symfony/symfony/version.png)](https://packagist.org/packages/symfony/symfony)</pre>
                </p>
                <p>
                    Latest Unstable Version <img src="https://poser.pugx.org/symfony/symfony/v/unstable.png">
                    <pre class="prettyprint">[![Latest Unstable Version](https://poser.pugx.org/symfony/symfony/v/unstable.png)](https://packagist.org/packages/symfony/symfony)</pre>
                </p>

            </article>
        </div>
    </div>

    <hr>

    <div class="footer">
    </div>

</div>

    <div class="footer">
    Badge Poser is a <a href="http ://pugx.github.io" target="_blank">PUGX</a> initiative.
    </div>

</div>


<a target="_blank" href="https://github.com/PUGX/badge-poser"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>
