button,
a.btn {
  position: relative;
  border: none;
  text-decoration: none;
  background-color: $button-color;
  color: #fff;
  padding: 0 1rem;
  min-height: 2.4rem;
  cursor: pointer;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-transform: uppercase;

  &.big {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.6rem 2rem;
  }

  &:hover {
    background-color: darken($button-color, 10%);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  }
  &:active, &:focus {
    border: none;
  }
}
