<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Badge Poser, badges for PHP{% endblock %}</title>

    <link href="{{ asset('favicon.ico') }}" rel="shortcut icon"/>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts_head %}
        <script>
            var globalVars = {'APP_DEBUG': '{{ app.debug }}'};
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167220857-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-167220857-1');
        </script>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
